* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: url(../img/background.png) no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 18px;
}

.header,
.main,
.footer {
  width: 1020px;
  margin: 0 auto;
}

.header {
  margin-top: 35px;
  display: grid;
  grid-template-columns: 150px auto;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header a:hover {
  color: #f26522;
  transition: all 0.2s;
}

.logo-link {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: auto auto;
  align-items: flex-end;
}

.logo-text1 {
  font-size: 29px;
  font-weight: bold;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.logo-text2 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.9px;
}

.logo-img {
  width: 53px;
  height: 48px;
  grid-row: 1/3;
  background: url(../img/logo_main.png);
  margin: 6px 8px 7px 0;
}

.header a:hover .logo-img {
  background: url(../img/logo_main_active.png);
}

.contacts-email {
  margin-bottom: 10px;
}

.main {
  margin-top: 20px;
}

.main a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.section-items {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: space-between;
  gap: 20px;
}

.item-link-img {
  width: 300px;
  height: 220px;
  overflow: hidden;
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(to right top, #000000, #888888, #ffffff) 50;
}

.item-link img {
  transition: all 0.7s;
}

.item-link:hover img {
  scale: 120%;
  transition: all 0.5s;
}

.item-link-tour {
  text-align: center;
  margin: 15px;
}

.main a .item-link-tour {
  color: #fff;
  text-decoration: none;
  transition: color 0.5s;
}

.main a:hover .item-link-tour {
  color: #f26522;
}

.item-detail {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: space-between;
  justify-items: start;
  align-items: end;
  position: relative;
  background: #f26522dd;
  padding: 10px 15px;
  height: 55px;
  opacity: 0;
  z-index: 5;
  transition: all 0.4s;
}

.item-link:hover .item-detail {
  opacity: 1;
  margin-top: -69px;
}

.item-detail-from {
  grid-row: 1/2;
  font-size: 10px;
}

.item-detail-price {
  grid-row: 2/3;
  font-size: 18px;
}

.item-detail-detail {
  grid-row: 1/3;
  font-size: 14px;
}

.fa-euro-sign {
  margin-right: 3px;
  font-size: 18px;
  vertical-align: -2px;
}

.fa-angle-right {
  margin-left: 10px;
}

.footer {
  margin: 20px auto;
  text-align: center;
  font-size: 12px;
}
